<!DOCTYPE html>
<html lang="en-US">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<meta charset="utf-8">
	<title>Sistem Parkir</title>
	<!--
    Modest Template
    http://www.templatemo.com/preview/templatemo_451_modest
    -->
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="{{url_for('static',filename='landing_page/assets/css2/animated.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='landing_page/assets/css2/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='landing_page/assets/css2/templatemo-style.css')}}">

	<!-- jQuery -->
	<script src="{{url_for('static',filename='landing_page/assets/js2/jquery-1.11.0.min.js')}}"></script>
	<script src="{{url_for('static',filename='landing_page/assets/js2/jquery-migrate-1.2.1.min.js')}}"></script>

</head>
<body>

	<!-- HEADER -->
	<div class="fluid-container">
		<header class="site-header">
			<div class="navbar-default navbar-fixed-top">
				<div class="fluid-container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="#">Sistem Parkir Otomatis</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="link-service" href="#welcome">HOME</a></li>
						<li><a class="link-facts" href="#fitur">fitur</a></li>
						<li><a class="link-contact" href="#kontak">kontak</a></li>
						<li><a class="link-contact" href="/landing/chatbot">chatbot</a></li>
						<li><a class="link-contact" href="/login">login</a></li>



					</ul>
				</div>
				</div>
			</div>
		</header> <!-- .site-header -->
	</div> <!-- .fluid-container -->

	<!-- WELCOME TEXT -->
	<div class="main-content">
	<div class="fluid-container">
		<div class="section-welcome"id="welcome">
			<div class="row">
            	<div class="col-md-4 text-center">
					<img src="{{url_for('static',filename='landing_page/assets/img2/mobill.png')}}" class="img-responsive animated fadeInLeft" alt="Time is happiness">
				</div>
				<div class="col-md-8 text-center welcome-section">
                	<br>
					<h2 class="animated fadeInDown">APLIKASI SISTEM PARKIR</h2>
					<br>
                    <p class="animated fadeInRight">Sistem Parkir adalah aplikasi yang membantu Anda mengelola sistem parkir dengan mudah. Dengan menggunakan aplikasi ini, Anda dapat melakukan pembayaran parkir secara online, mengetahui ketersediaan tempat parkir, dan lain sebagainya.</p>
                    <br>
				</div>
			</div>
		</div>
	</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	<!-- FITUR -->
	<div class="fluid-container">
		<div class="section-fitur" id="fitur">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 text-center">
					<article class="service animated fadeInUp">
						<div class="service-header">
							<h4>Scan Plat secara real time</h4>
						</div>
						<div class="service-icon">
							<i class="fa fa-camera"></i>
						</div>
						<div class="service-text">
							<p>pada fitur ini berfungsi untuk mengscan plat melalu web cam.</p>
						</div>
					</article>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 text-center">
					<article class="service animated fadeInUp">
						<div class="service-header">
							<span class="s-left"></span>
							<span class="s-right"></span>
							<h4>deteksi plat melalu gambar</h4>
						</div>
						<div class="service-icon">
							<i class="fa fa-upload"></i>
						</div>
						<div class="service-text">
							<p>fitur ini memiliki fungsi jika pada fitur scan plat secara real time tidak berfungsi maka alternatifnya adalah fitur ini.</p>
						</div>
					</article>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 text-center">
					<article class="service animated fadeInUp">
						<div class="service-header">
							<span class="s-left"></span>
							<span class="s-right"></span>
							<h4>Melihat histori parkir</h4>
						</div>
						<div class="service-icon">
							<i class="fa fa-book"></i>
						</div>
						<div class="service-text">
							<p>di fitur ini kita dapat melihat data parkir yang berisikan plat kendaraan dan waktu kendaraan masuk.</p>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>


	<!-- FOOTER -->
	<div class="fluid-container">
		<footer class="section-footer"id="kontak">
			<a href="#" class="back-to-top">
				<i class="fa fa-angle-up"></i>
			</a>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 padding-left-0">
					<p class="copyright">Copyright &copy; BIG PROJEK KELOMPOK 5</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 padding-right-0">
					<ul class="social">
						<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
						<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
						<li><a href="#"><i class="fa fa-youtube"></i> Youtube</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	</div>


	<!-- Plugins -->
	<script src="{{url_for('static',filename='landing_page/assets/js2/bootstrap.js')}}"></script>
	<script src="{{url_for('static',filename='landing_page/assets/js2/plugins.js')}}"></script>
	<script src="{{url_for('static',filename='landing_page/assets/js2/custom.js')}}"></script>

	<!-- Google Map -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{url_for('static',filename='landing_page/assets/js2/jquery.gmap3.min.js')}}"></script>

    <!-- Google Map Init-->
    <script type="text/javascript">
        jQuery(function($){
            $('#map-canvas').gmap3({
                marker:{
                    address: '16.8496189,96.1288854'
                },
                    map:{
                    options:{
                    zoom: 15,
                    scrollwheel: false,
                    streetViewControl : true
                    }
                }
            });
        });
    </script>

</body>
</html>